@import "fonts.css";

body{
    font-family: 'Poppins', sans-serif;
    background-color: #171717;
}
:root{
    --default:#171717;
    --heading : #8EFFBB;
    --text : #FFFFFF;
    --back : #F5F9FF;
}

/* NavBar */
#n-bar hr{
    display: block;
    margin: auto;
    height: 2px;
    background-color: var(--text);
    opacity: 70%;
    width: 82%;
}
@media (max-width: 480px)
 {
    #n-bar hr {
      display: none;
    }
  }

#n-bar .navbar-brand img{
    width: 8em;
}

#n-bar .navbar{
    height: 13vh;
}

#n-bar .nav_links{
    width: auto;
    padding-right: 0.5em;
}

#n-bar .nav_links a{
    /* margin-right: 1.5em; */
    padding-left: 4em; 
    text-decoration: none;
    font-family: PoppinsLight,sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow: hidden;
    white-space : nowrap;
    color: var(--text);
    opacity: 80%;
}
a:hover{
    color: #8EFFBB;
    font-family:Devils,sans-serif;
}



/*  #########################
    ############### Hero Page
    ############################
*/

#face{
    /* position: absolute; */
    display: flex;
    background-image: url("../images/backgroundimg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 115vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15vh; 
    z-index: -1;

}
#face .heropage{
    margin-top: 3em;
    /* position: relative; */
    color: var(--heading);
    font-size: 110px;
    font-family:Zallord,sans-serif;
}
@media (max-width: 480px)
 {
    #face .heropage {
        margin-top: 5em;
         font-size: 70px;
    }
  }


#face .cont button{
    font-size: 20px;
    margin-top: 4em;
    width: 8.5em;
    height: 2.25em;
    overflow:hidden;
    font-family:Devils,sans-serif;
    /* background: var(--heading); */
    background: transparent;
    color: var(--default);
    border: 2.5px solid var(--heading);
    position: relative;
    clip-path: polygon(10% 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 25%);
}


.scrolldown {
    --color: white;
    --sizeX: 25px;
    --sizeY: 45px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin:auto;
    border: calc(var(--sizeX) / 15) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 9em;
    background: #171717;
  }
  
  .scrolldown:before {
    content: "";
    position: absolute;
    bottom: 25px;   
    width: 8px;
    height: 8px;
    margin-left: -4px;
    background-color: var(--color);
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
  }
  .scrolldown:hover:before{
    animation: scrolldown-anim 2s infinite;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
    40% {
      opacity: 1;
      height: 10px;
    }
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
    100% {
      height: 3px;
      opacity: 0;
    }
  }


  /* #who{
    width: 1920px;
    height: 1080px;
  } */